.one{
    width:99%;
    background: green;
    height: 200px;
    margin-bottom: 10px;
    /* border: 1px solid black; */

}
.two{
    width: 15%;
    background: orange;
    height: 460px;
    float: left;
    /* border: 1px solid black; */
    margin-bottom: 10px;

    
}
/* .right section{
    width: 75%;
    background:blue;
    margin: 30px;
    float: right;
} */
.nine{
    clear: both;
    background: maroon;
    width: 98.9%;
    margin-top: 70px;
    height: 200px;
    /* border: 1px solid black; */

    
}
.three{
    background: gold;
    width: 83%;
    height: 125px;
    margin-left: 10px;
    float: left;
    /* border: 1px solid black; */

}
.four{
    background: blue;
    width: 55%;
    height: 150px;
    margin: 10px;
    float: left;
    /* border: 1px solid black; */

}
.five{
    width: 26.7%;
    height: 150px;
    margin: 10px;
    float: left;
    background: palevioletred;
    /* border: 1px solid black; */

}
.six{
    width: 26.7%;
    height: 150px;
    margin: 10px;
    float: left;
    background: black;
    /* border: 1px solid black; */


}
.seven{
    width: 26.6%;
    height: 150px;
    margin: 10px;
    float: left;
    background: aqua;
    /* border: 1px solid black; */


}
.eight{
    width: 26.7%;
    height: 150px;
    margin: 10px;
    float: left;
    background: brown;
    /* border: 1px solid black; */

}
.main{
    background: rgb(180, 178, 178);
    box-sizing: border-box;
    /* margin-right: 20px; */
    /* border: 4px solid black; */
    padding: 30px;
    margin-right: 200px;
    margin: 0 auto;
}

/* .circle{
    background: rgb(180, 178, 178);
    width: 10%;
    height: 120px;
    border-radius: 70px;
    align-items: center;
    margin-left: 570px;
    margin-top: 55px;
} */